footer {
  z-index: 99;
  position: relative;
  padding-top: 4rem;
  @media only screen and (min-width: 1025px) and (max-width: 1370px) and (min-height: 500px) and (max-height: 670px) {
    padding-top: 2rem;
  }
  @media only screen and (max-width: 1024px) {
    padding-top: 2rem;
  }

  .forEnquiries {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 500;
    @media screen and (max-width: 1204px) {
      flex-direction: row;
      gap: 0.5rem;
    }
    @media screen and (max-width: 767px) {
      justify-content: center;
      font-size: 0.95rem;
    }
    @media screen and (max-width: 340px) {
      font-size: 0.85rem;
    }
    a {
      font-weight: bold;
      text-decoration: underline;
      transition: all 0.3s ease-in-out;
      &:hover {
        //opacity: 0.8;
        color: $brand-color-2;
      }
    }
  }
  .footerGraphic {
    //grid-column: -1/1;
    display: block;
    // align-items: center;
    // justify-content: flex-end;
    overflow: hidden;
    svg,
    img {
      //width: 103vw;
      width: 95vw;
      margin: auto;
      height: auto;
      //margin-left: -2.3vw;
      display: flex;
    }

    svg {
      .cls-1,
      .cls-2 {
        fill: none;
        stroke: #8f7289;
        stroke-linejoin: round;
        stroke-width: 2px;
      }
      .cls-2 {
        stroke-linecap: round;
      }
    }

    svg .svg-elem-1 {
      stroke-dashoffset: 140.12014770507812px;
      stroke-dasharray: 140.12014770507812px;
      transition: stroke-dashoffset 0.4s ease 0s;
    }

    svg .svg-elem-2 {
      stroke-dashoffset: 435.53978619539146px;
      stroke-dasharray: 435.53978619539146px;
      transition: stroke-dashoffset 0.4s ease 0.12s;
    }

    svg .svg-elem-3 {
      stroke-dashoffset: 435.53978619539146px;
      stroke-dasharray: 435.53978619539146px;
      transition: stroke-dashoffset 0.4s ease 0.24s;
    }

    svg .svg-elem-4 {
      stroke-dashoffset: 343.57708740234375px;
      stroke-dasharray: 343.57708740234375px;
      transition: stroke-dashoffset 0.4s ease 0.36s;
    }

    svg .svg-elem-5 {
      stroke-dashoffset: 218.76989309769573px;
      stroke-dasharray: 218.76989309769573px;
      transition: stroke-dashoffset 0.4s ease 0.48s;
    }

    svg .svg-elem-6 {
      stroke-dashoffset: 218.76989309769573px;
      stroke-dasharray: 218.76989309769573px;
      transition: stroke-dashoffset 0.4s ease 0.6s;
    }

    svg .svg-elem-7 {
      stroke-dashoffset: 218.76989309769573px;
      stroke-dasharray: 218.76989309769573px;
      transition: stroke-dashoffset 0.4s ease 0.72s;
    }

    svg .svg-elem-8 {
      stroke-dashoffset: 218.76989309769573px;
      stroke-dasharray: 218.76989309769573px;
      transition: stroke-dashoffset 0.4s ease 0.84s;
    }

    svg .svg-elem-9 {
      stroke-dashoffset: 218.76989309769573px;
      stroke-dasharray: 218.76989309769573px;
      transition: stroke-dashoffset 0.4s ease 0.96s;
    }

    svg .svg-elem-10 {
      stroke-dashoffset: 218.76989309769573px;
      stroke-dasharray: 218.76989309769573px;
      transition: stroke-dashoffset 0.4s ease 1.08s;
    }

    svg .svg-elem-11 {
      stroke-dashoffset: 218.76989309769573px;
      stroke-dasharray: 218.76989309769573px;
      transition: stroke-dashoffset 0.4s ease 1.2s;
    }

    svg .svg-elem-12 {
      stroke-dashoffset: 197.16146850585938px;
      stroke-dasharray: 197.16146850585938px;
      transition: stroke-dashoffset 0.4s ease 1.3199999999999998s;
    }

    svg .svg-elem-13 {
      stroke-dashoffset: 389.49591064453125px;
      stroke-dasharray: 389.49591064453125px;
      transition: stroke-dashoffset 0.4s ease 1.44s;
    }

    svg .svg-elem-14 {
      stroke-dashoffset: 392.32440185546875px;
      stroke-dasharray: 392.32440185546875px;
      transition: stroke-dashoffset 0.4s ease 1.56s;
    }

    svg .svg-elem-15 {
      stroke-dashoffset: 140.30999755859375px;
      stroke-dasharray: 140.30999755859375px;
      transition: stroke-dashoffset 0.4s ease 1.68s;
    }

    svg .svg-elem-16 {
      stroke-dashoffset: 416px;
      stroke-dasharray: 416px;
      transition: stroke-dashoffset 0.4s ease 1.7999999999999998s;
    }

    svg .svg-elem-17 {
      stroke-dashoffset: 140.38999938964844px;
      stroke-dasharray: 140.38999938964844px;
      transition: stroke-dashoffset 0.4s ease 1.92s;
    }

    svg .svg-elem-18 {
      stroke-dashoffset: 418.0299987792969px;
      stroke-dasharray: 418.0299987792969px;
      transition: stroke-dashoffset 0.4s ease 2.04s;
    }

    svg .svg-elem-19 {
      stroke-dashoffset: 510.61822509765625px;
      stroke-dasharray: 510.61822509765625px;
      transition: stroke-dashoffset 0.4s ease 2.16s;
    }

    svg .svg-elem-20 {
      stroke-dashoffset: 197.1600341796875px;
      stroke-dasharray: 197.1600341796875px;
      transition: stroke-dashoffset 0.4s ease 2.28s;
    }

    svg .svg-elem-21 {
      stroke-dashoffset: 197.1600341796875px;
      stroke-dasharray: 197.1600341796875px;
      transition: stroke-dashoffset 0.4s ease 2.4s;
    }

    svg .svg-elem-22 {
      stroke-dashoffset: 197.1600341796875px;
      stroke-dasharray: 197.1600341796875px;
      transition: stroke-dashoffset 0.4s ease 2.52s;
    }

    svg .svg-elem-23 {
      stroke-dashoffset: 197.1600341796875px;
      stroke-dasharray: 197.1600341796875px;
      transition: stroke-dashoffset 0.4s ease 2.6399999999999997s;
    }

    svg .svg-elem-24 {
      stroke-dashoffset: 197.43035888671875px;
      stroke-dasharray: 197.43035888671875px;
      transition: stroke-dashoffset 0.4s ease 2.76s;
    }

    svg .svg-elem-25 {
      stroke-dashoffset: 347.1400146484375px;
      stroke-dasharray: 347.1400146484375px;
      transition: stroke-dashoffset 0.4s ease 2.88s;
    }

    svg .svg-elem-26 {
      stroke-dashoffset: 140.3800048828125px;
      stroke-dasharray: 140.3800048828125px;
      transition: stroke-dashoffset 0.4s ease 3s;
    }

    svg .svg-elem-27 {
      stroke-dashoffset: 485px;
      stroke-dasharray: 485px;
      transition: stroke-dashoffset 0.4s ease 3.12s;
    }

    svg .svg-elem-28 {
      stroke-dashoffset: 501.74224853515625px;
      stroke-dasharray: 501.74224853515625px;
      transition: stroke-dashoffset 0.4s ease 3.2399999999999998s;
    }

    svg .svg-elem-29 {
      stroke-dashoffset: 1120.912109375px;
      stroke-dasharray: 1120.912109375px;
      transition: stroke-dashoffset 0.4s ease 3.36s;
    }

    svg .svg-elem-30 {
      stroke-dashoffset: 208.1326141357422px;
      stroke-dasharray: 208.1326141357422px;
      transition: stroke-dashoffset 0.4s ease 3.48s;
    }

    svg .svg-elem-31 {
      stroke-dashoffset: 208.15621948242188px;
      stroke-dasharray: 208.15621948242188px;
      transition: stroke-dashoffset 0.4s ease 3.5999999999999996s;
    }

    svg .svg-elem-32 {
      stroke-dashoffset: 208.14559936523438px;
      stroke-dasharray: 208.14559936523438px;
      transition: stroke-dashoffset 0.4s ease 3.7199999999999998s;
    }

    svg .svg-elem-33 {
      stroke-dashoffset: 208.16253662109375px;
      stroke-dasharray: 208.16253662109375px;
      transition: stroke-dashoffset 0.4s ease 3.84s;
    }

    svg .svg-elem-34 {
      stroke-dashoffset: 208.1561279296875px;
      stroke-dasharray: 208.1561279296875px;
      transition: stroke-dashoffset 0.4s ease 3.96s;
    }

    svg .svg-elem-35 {
      stroke-dashoffset: 208.1796417236328px;
      stroke-dasharray: 208.1796417236328px;
      transition: stroke-dashoffset 0.4s ease 4.08s;
    }

    svg .svg-elem-36 {
      stroke-dashoffset: 99.37159729003906px;
      stroke-dasharray: 99.37159729003906px;
      transition: stroke-dashoffset 0.4s ease 4.2s;
    }

    svg .svg-elem-37 {
      stroke-dashoffset: 99.36434936523438px;
      stroke-dasharray: 99.36434936523438px;
      transition: stroke-dashoffset 0.4s ease 4.32s;
    }

    svg .svg-elem-38 {
      stroke-dashoffset: 99.36434936523438px;
      stroke-dasharray: 99.36434936523438px;
      transition: stroke-dashoffset 0.4s ease 4.4399999999999995s;
    }

    svg .svg-elem-39 {
      stroke-dashoffset: 485.58001708984375px;
      stroke-dasharray: 485.58001708984375px;
      transition: stroke-dashoffset 0.4s ease 4.56s;
    }

    svg .svg-elem-40 {
      stroke-dashoffset: 611.8679809570312px;
      stroke-dasharray: 611.8679809570312px;
      transition: stroke-dashoffset 0.4s ease 4.68s;
    }

    svg .svg-elem-41 {
      stroke-dashoffset: 2625.05224609375px;
      stroke-dasharray: 2625.05224609375px;
      transition: stroke-dashoffset 0.4s ease 4.8s;
    }

    svg .svg-elem-42 {
      stroke-dashoffset: 489.9036560058594px;
      stroke-dasharray: 489.9036560058594px;
      transition: stroke-dashoffset 0.4s ease 4.92s;
    }

    svg .svg-elem-43 {
      stroke-dashoffset: 197.16146850585938px;
      stroke-dasharray: 197.16146850585938px;
      transition: stroke-dashoffset 0.4s ease 5.04s;
    }

    svg .svg-elem-44 {
      stroke-dashoffset: 392.42901611328125px;
      stroke-dasharray: 392.42901611328125px;
      transition: stroke-dashoffset 0.4s ease 5.16s;
    }

    svg .svg-elem-45 {
      stroke-dashoffset: 392.42901611328125px;
      stroke-dasharray: 392.42901611328125px;
      transition: stroke-dashoffset 0.4s ease 5.279999999999999s;
    }

    svg .svg-elem-46 {
      stroke-dashoffset: 392.42901611328125px;
      stroke-dasharray: 392.42901611328125px;
      transition: stroke-dashoffset 0.4s ease 5.3999999999999995s;
    }

    svg .svg-elem-47 {
      stroke-dashoffset: 276.260009765625px;
      stroke-dasharray: 276.260009765625px;
      transition: stroke-dashoffset 0.4s ease 5.52s;
    }
  }
  p {
    margin: 0;
    font-size: 0.9vw;
    font-weight: 500;
    @media screen and (min-width: 1800px) {
      font-size: 0.8vw;
    }
    @media screen and (max-width: 1024px) {
      font-size: 1.4vw;
    }
    @media screen and (max-width: 980px) {
      font-size: 1.6vw;
    }
    @media screen and (max-width: 767px) {
      font-size: 11px;
      text-align: center;
    }
  }

  .footerLogo {
    //border-bottom: 1px solid $brand-color;

    overflow: hidden;
    display: flex;
    align-items: flex-end;

    max-width: 300px;
    @media screen and (max-width: 980px) {
      max-width: 200px;
    }
    @media screen and (max-width: 767px) {
      max-width: 60%;
    }
    .link {
      position: relative;

      // &::after,
      // &::before {
      //   content: '';
      //   position: absolute;
      //   bottom: 0;
      //   width: 100vw;
      //   height: 1px;
      //   background-color: $brand-color;
      // }

      &::before {
        left: 0;
        transform: translateX(-100%);
      }
      &:after {
        right: 0;
        bottom: 1px;
        transform: translateX(100%);
      }
    }
  }

  .footerNav {
    position: relative;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      right: -0.75rem;
      top: 50%;
      width: 1px;
      height: 60%;
      background-color: $brand-color;
      transform: translateY(-50%);
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      //grid-template-columns: repeat(5, auto);
      gap: 0.5rem 1.5rem;
      list-style: none;
      padding: 0;
      margin: 0;
      @media only screen and (min-width: 1630px) {
        gap: 1rem 2rem;
      }
      @media screen and (max-width: 767px) {
        justify-content: center;
      }

      > li {
        position: relative;
      }
    }

    .link_ {
      font-size: 1vw;
      line-height: 1.3;
      padding-bottom: 3px;
      position: relative;
      font-weight: 500;
      color: $brand-color;
      @media screen and (min-width: 1800px) {
        font-size: 0.8vw;
      }
      @media screen and (max-width: 1024px) {
        font-size: 1.6vw;
      }
      @media screen and (max-width: 980px) {
        font-size: 1.8vw;
      }
      @media screen and (max-width: 767px) {
        font-size: 3.4vw;
      }

      &.large {
        font-weight: 500;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $brand-color-2;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease-in-out;
      }

      > span {
        position: relative;
      }
      &:hover {
        color: $brand-color-2;
        &::before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }

  .bottomWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
    }
  }

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 0.2rem 1.5rem;
    padding: 1.5rem 15px 1.5rem;
    @media screen and (max-width: 1204px) {
      gap: 1rem;
    }
    @media only screen and (min-width: 1630px) {
      padding-top: 2.5rem;
      gap: 2rem;
    }
    @media screen and (max-width: 980px) {
      grid-template-columns: 100%;
      gap: 1.5rem;
      padding-top: 1.5rem;
    }

    @media screen and (max-width: 767px) {
      padding: 1rem 15px 1rem;
      gap: 1rem;
      justify-content: center;
    }
  }

  a {
    &:focus,
    &:hover {
      color: $brand-color;
    }
  }
}

.inView {
  .footerGraphic {
    svg .svg-elem-1,
    svg .svg-elem-2,
    svg .svg-elem-3,
    svg .svg-elem-4,
    svg .svg-elem-5,
    svg .svg-elem-6,
    svg .svg-elem-7,
    svg .svg-elem-8,
    svg .svg-elem-9,
    svg .svg-elem-10,
    svg .svg-elem-11,
    svg .svg-elem-12,
    svg .svg-elem-13,
    svg .svg-elem-14,
    svg .svg-elem-15,
    svg .svg-elem-16,
    svg .svg-elem-17,
    svg .svg-elem-18,
    svg .svg-elem-19,
    svg .svg-elem-20,
    svg .svg-elem-21,
    svg .svg-elem-22,
    svg .svg-elem-23,
    svg .svg-elem-24,
    svg .svg-elem-25,
    svg .svg-elem-26,
    svg .svg-elem-27,
    svg .svg-elem-28,
    svg .svg-elem-29,
    svg .svg-elem-30,
    svg .svg-elem-31,
    svg .svg-elem-32,
    svg .svg-elem-33,
    svg .svg-elem-34,
    svg .svg-elem-35,
    svg .svg-elem-36,
    svg .svg-elem-37,
    svg .svg-elem-38,
    svg .svg-elem-39,
    svg .svg-elem-40,
    svg .svg-elem-41,
    svg .svg-elem-42,
    svg .svg-elem-43,
    svg .svg-elem-44,
    svg .svg-elem-45,
    svg .svg-elem-46,
    svg .svg-elem-47 {
      stroke-dashoffset: 0;
    }
  }
}

.agendaDay2Page {
  footer {
    .footerGraphic {
      svg {
        .cls-1,
        .cls-2 {
          stroke: #868b61;
        }
      }
    }
  }
}

.agendaDay3Page {
  footer {
    .footerGraphic {
      svg {
        .cls-1,
        .cls-2 {
          stroke: #b58354;
        }
      }
    }
  }
}

html[dir="rtl"] {
  footer {
    .footerNav {
      .link_ {
        &::before {
          transform-origin: left;
        }
        &:hover {
          &::before {
            transform-origin: right;
          }
        }
      }
    }
  }
}
@media (prefers-reduced-motion: no-preference) {
  .footerGraphic {
    #leafe {
      animation: roate3d 5s linear infinite;
      transform-box: fill-box;
    }

    #camal {
      animation: camelWake 7s linear infinite;
      transform-box: fill-box;
      transform-origin: center;
    }

    #yellow_tree {
      transform-origin: center bottom;
      transform-box: fill-box;
      animation: treeMove 14s linear infinite;
    }

    #tree_2 {
      transform-origin: center bottom;
      transform-box: fill-box;
      animation: treeMove2 9s linear infinite;
    }
    #tree_1 {
      transform-origin: center bottom;
      transform-box: fill-box;
      animation: treeMove2 9s linear infinite 1s alternate-reverse;
    }

    #Sun {
      transform-origin: 100% 120%;
      transform-box: fill-box;
      animation: sun 7s linear infinite alternate;
    }

    #bired {
      transform-origin: center;
      transform-box: fill-box;
      animation: bired 1.5s linear infinite alternate;
    }

    #blue_Land {
      transform-origin: bottom center;
      transform-box: fill-box;
      animation: blue_Land 10s ease-in-out infinite alternate;
    }

    #green_fog {
      transform-origin: bottom center;
      transform-box: fill-box;
      animation: green_fog 5s linear infinite alternate-reverse;
    }
  }
}

@keyframes green_fog {
  from {
    transform: translateY(2rem) translateX(0rem);
  }
  to {
    transform: translateY(-1rem) translateX(-2rem);
  }
}

@keyframes blue_Land {
  from {
    transform: translateX(3rem);
  }
  to {
    transform: translateX(-1rem) translateY(0.3rem);
  }
}

@keyframes bired {
  to {
    transform: rotate(20deg) scale(1.1) translateY(0.2rem) translateX(0.5rem);
  }
}

@keyframes roate3d {
  from {
    transform: rotate(0deg);
    //transform-origin: center;
    transform-origin: 40% 55%;
  }
  to {
    transform: rotate(360deg);
    //transform-origin: center;
    transform-origin: 36% 50%;
  }
}

@keyframes sun {
  from {
    transform: rotate(50deg) scale(0.3) translateY(25rem);
  }
  85%,
  100% {
    transform: rotate(0deg);
  }
}

@keyframes camelWake {
  from {
    transform: translateX(2.5rem) translateY(1.5rem) scale(0.7);
  }
  70% {
    transform: translateX(-3rem) translateY(-0.3rem);
  }
  to {
    transform: translateX(-5rem) translateY(1rem) scale(0.7);
  }
}

@keyframes treeMove {
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes treeMove2 {
  from {
    transform: rotate(0deg) translateY(0.5rem);
  }
  25% {
    transform: rotate(12deg) translateY(0.5rem);
  }
  75% {
    transform: rotate(-10deg) translateY(0.5rem);
  }

  to {
    transform: rotate(0deg) translateY(0.5rem);
  }
}
