$color-white: #ffffff;
$color-black: #000000;
//$brand-color: #006caa;
$brand-color: #8f7289;
//$brand-color-2: #60bacb;
$brand-color-2: #535353;
//$brand-color-3: #00837e;
$brand-color-3: #535353;

$brand-text: #000;
$brand-red: #dc2222;

// Fonts
//$ff-primary: 'Lato';
$ff-primary: "Montserrat", "Univers Next Arabic", sans-serif;
$ff-head: "Montserrat", "Univers Next Arabic", sans-serif;

// Colors
$brand_gray: #a0a0a0;
$brand_bg: #faf8f4;
$brand_gray_light: #e8e8e8;
$brand_red: #fd625c;
$brand_green: #47c2ae;
$brand_yellow: #fcb70c;
$brand_teal: #b0e0e1;

$border-color: rgba(#707070, 0.37);

$bg_white: #fff;
$bg_gray: #f8f8f8;
$bg_gray_light: #f8f8f8;
$bg_orange: #f68d66;
$bg_green: #04b49e;
$bg_purple: #343393;
$bg_lgblue: #cfedf2;
$bg_whisper: #f3d5d0;
$bg_blue: #00a2ff;
$bg_lggray: #e2e8e8;
$bg_black: #303335;
$bg_oldrose: #bda6b7;
$bg_red: #f04e25;
$bg_lightblue: #d1ecf2;
$bg_offgreen: #9db096;
$bg_yellow: #ffb548;
