<div class="floatIcon">
  <a href="#" class="inner_" aria-label="float nav">
    <svg width="28" height="32" viewBox="0 0 28 32">
      <g transform="translate(-0.032 2.208)">
        <g transform="translate(3.818 0)">
          <line
            y1="17.373"
            transform="translate(20.847 10.363)"
            fill="none"
            stroke="#a78348"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
          />
          <line
            y1="28"
            transform="translate(10.213 -0.208)"
            fill="none"
            stroke="#a78348"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
          />
          <line
            y1="10.424"
            transform="translate(0 17.312)"
            fill="none"
            stroke="#a78348"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
          />
        </g>
      </g>
    </svg>
  </a>
</div>
