<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{title}}</title>
<meta name="description" content="{{description}}" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=2"
/>
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:image" content="" />
<meta
  http-equiv="Cache-Control"
  content="no-cache, no-store, must-revalidate"
/>
<link rel="preload" href="./assets/images/logo.svg" as="image" />
<link rel="shortcut icon" href="./assets/images/favicon.ico" />
<!-- <script>
  window.addEventListener('beforeunload', function (event) {
    window.scrollTo(0, 0)
  })
</script> -->
