<div class="popup" id="popup" style="display: none">
  <div class="agItem v2">
    <div class="contentBox">
      <div class="session">
        In the Balance: Strategic Shifts in the Global Order
      </div>

      <div class="textBox textColorBlack">
        <p>
          The world is moving toward multipolarity, characterized by competing
          centers of power with varying influence and size. At the same time,
          multilateral organizations are reasserting themselves in the Middle
          East, and new minilateral groupings are emerging as middle powers
          continue to proliferate. What does a multipolar world—versus the
          bipolar and unipolar international system that has been dominant for
          the last almost 80 years—mean for the Middle East? Does a multipolar
          world presage more conflict, more cooperation, or possibly both? Could
          the shifting global order lead to a new era of transactionalism
          instead of strategic engagement between states, and what would the
          long-term impact of this be? How might nonaligned states navigate this
          more complex world and growing great power competition? What is the
          role of Middle East states in this emerging global order?
        </p>
      </div>
    </div>
  </div>
</div>
