<div class="floatSocial">
  <ul>
    <li>
      <a href="#" class="link_ cLink" data-visit="true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20.186"
          height="20.186"
          viewBox="0 0 20.186 20.186"
        >
          <g transform="translate(0.75 0.75)">
            <g transform="translate(0 0)">
              <path
                d="M7.671,3h9.343a4.671,4.671,0,0,1,4.671,4.671v9.343a4.671,4.671,0,0,1-4.671,4.671H7.671A4.671,4.671,0,0,1,3,17.014V7.671A4.671,4.671,0,0,1,7.671,3Z"
                transform="translate(-3 -3)"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
              />
              <path
                d="M19.5,15.124a3.737,3.737,0,1,1-3.149-3.149A3.737,3.737,0,0,1,19.5,15.124Z"
                transform="translate(-6.419 -6.37)"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
              />
              <path
                d="M26.25,9.75h0"
                transform="translate(-11.768 -5.546)"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
              />
            </g>
          </g>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="link_ cLink" data-visit="true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="22.161"
          height="21.128"
          viewBox="0 0 22.161 21.128"
        >
          <g transform="translate(0.65 0.139)">
            <g transform="translate(0 0.522)">
              <path
                d="M16.258,8a6.258,6.258,0,0,1,6.258,6.258v7.3H18.344v-7.3a2.086,2.086,0,0,0-4.172,0v7.3H10v-7.3A6.258,6.258,0,0,1,16.258,8Z"
                transform="translate(-1.656 -1.742)"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.3"
              />
              <rect
                width="4.172"
                height="12.517"
                transform="translate(0 7.301)"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.3"
              />
              <circle
                cx="2.086"
                cy="2.086"
                r="2.086"
                transform="translate(0 0)"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.3"
              />
            </g>
          </g>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="link_ cLink" data-visit="true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20.122"
          height="18.33"
          viewBox="0 0 20.122 18.33"
        >
          <g transform="translate(0.572 0.25)">
            <path
              d="M281.546,167.31l7.355,9.835-7.4,8h1.666l6.48-7,5.236,7h5.669l-7.769-10.388,6.889-7.443H298l-5.968,6.447-4.822-6.447Zm2.45,1.227h2.6l11.5,15.376h-2.6Z"
              transform="translate(-281.5 -167.31)"
              fill="currentColor"
              stroke="currentColor"
              stroke-width="0.5"
            />
          </g>
        </svg>
      </a>
    </li>
  </ul>
</div>
